{% extends 'base.html.twig' %}

{% block title %}Les pièces
{% endblock %}

{% block body %}
	<h1>Liste des Pièces</h1>

	<p>
		<b>
			Nom :
		</b>
		{{nom}}
	</p>
	<p>
		<b>
			Taille :
		</b>
		{{taille}}
	</p>
	<p>
		<b>
			Métal :
		</b>
		{{metal}}
	</p>
	<p>
		<b>
			Continent :
		</b>
		{{continent}}
	</p>

	<p>
		<b>
			Pays :
		</b>
		{{pays}}
	</p>

	<p>
		<b>
			Année :
		</b>
		{{annee}}
	</p>

	<p>
		<b>
			Chemin de l'image :
		</b>
		{{imagePath}}
	</p>

	<p>
		<b>
			Qualité :
		</b>
		{{qualite}}
	</p>
	<p>
		<b>
			Appartenance:
		</b>
		{{appartenance}}
	</p>

	<p>
		<b>
			Prix public :
		</b>
		{{prixPublic}}
	</p>


{% endblock %}
